model: hf 

model_args: pretrained=google/gemma-3-12b-it 

apply_chat_template : True 

log_samples: True

output_path: ./results/ 

device: cuda:0 

batch_size: "auto"

# do_sample does greedy decoding if True
gen_kwargs:
  max_gen_toks: 1024
  temperature: 0.7
  do_sample: false
  until:
  - "</s>"
  - "<end_of_turn>\n"